<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Boas-vindas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <p>Bem-vindo {{nomeUsuario}}!!!</p>

    <ion-item href="home" color="success">
      <ion-label>Voltar página principal</ion-label>
    </ion-item>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="secondary">
    <ion-title>Todos os direitos &copy; Roberto Silvano Lopes</ion-title>
  </ion-toolbar>
</ion-footer>
