<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Notifica
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-list>
      <ion-item>
        <ion-label>Pedidos</ion-label>
        <ion-badge slot="end">22</ion-badge>
        <ion-icon name="body-outline"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label>Encomendas</ion-label>
        <ion-badge b slot="end">65</ion-badge>
        <ion-icon name="bag-check-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>Retiradas</ion-label>
        <ion-badge slot="end">93</ion-badge>
        <ion-icon name="bicycle-outline"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="secondary">
    <ion-title>Todos os direitos &copy; Roberto Silvano Lopes</ion-title>
  </ion-toolbar>
</ion-footer>
