<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Página Principal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!--Inicio do menu lista-->
  <ion-card>
    <ion-list inset>
      <ion-item-divider>
        <ion-label><strong>Lista de Objetos:</strong></ion-label>
      </ion-item-divider>


      <ion-item (click) = 'chips()'>
        <ion-icon name="hardware-chip-outline"></ion-icon>
        <ion-label>Chips Hardware</ion-label>
      </ion-item>

      <ion-item (click) = 'velocimetro()'>
        <ion-icon name="speedometer-outline"></ion-icon>
        <ion-label>Velocimetro</ion-label>
      </ion-item>

      <ion-item (click)='termometro()'>
        <ion-icon name="thermometer-outline"></ion-icon>
        <ion-label>Termometro</ion-label>
      </ion-item>

      <ion-item (click)='telescopio()'>
        <ion-icon name="telescope-outline"></ion-icon>
        <ion-label>Telescópio</ion-label>
      </ion-item>

      <ion-item (click)='controle()'>
        <ion-icon name="game-controller-outline"></ion-icon>
        <ion-label>Controle de Video Game</ion-label>
      </ion-item>

    </ion-list>
  </ion-card>
  <!--Fim do menu lista-->
</ion-content>

  <ion-footer>
    <ion-toolbar color="secondary">
      <ion-title>Todos os direitos &copy; Roberto Silvano Lopes</ion-title>
    </ion-toolbar>
  </ion-footer>
